.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    
    margin: 120px 10px auto 82px;
}

.cart-container{
    height: auto;
    width: 100%;
    background-color: rgba(255, 153, 0, 0.3);
    /* padding: ; */

    
}
.cart-container h1{
    text-align: center;
}
.cart-container p{
    margin: 20px;
}
.cart-container button{
    width: 90%;
    margin:5px 10px;
    padding: 10px 20px;
    border: none;  
    color: white; 
    /* font-weight: bold; */
    font-size: 17px;
}
.cart-container #clear-cart{
    background-color:#FF3030;
   
}
.cart-container #order-review{
    background-color: #FF9900;

}
