.product{
    height: 508px;
    border: 1px solid ;
    position: relative;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    box-sizing: border-box;
    
}
.product img{
    width: 95.3%;
    height: 286px;
    margin: 7px;
    border-radius: 8px;
}
#product-name{
  display: inline-block; /* or inline-block */
  /* text-overflow:"..."; */
  /* white-space: nowrap; */
  overflow-wrap: break-word;
  overflow: hidden ;
  max-height: 1.2em;
  line-height: 1.5em;
    
}
.product-info{
    margin: 7px 14px 0px 14px;
}
.product-info p{
    margin-top: 0px;
    margin-bottom: 0;
}
.product-btn{
    width: 100%;
    border: none;
    position: absolute;
    bottom: 0px; 
    padding: 15px 35px;
    box-sizing: border-box;
    background-color: rgba(255, 153, 0, 0.3);
    font-size: 15px; 
}
.product button:hover{
    background-color: orange;
}
#product-name{
    font-family:'lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    /* line-height: 25px;
    letter-spacing: 0.0015em; */
}
/* #product-price{
    margin-bottom: 30px;
} */
@media (max-width: 600px) {
    
    .product img{
        width: 96%;
        height: auto;
    }
    
}