.order-review-container{
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-gap: 50px;
}
#items-container{
    margin:30px;

}
#cart-container{
   display: flex;
   justify-content: center;
   margin-top: 100px;
}
.order-review h3{
    padding: 20px 0px;
}
#product-heading{
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 15px 5px;
    background-color: goldenrod;
    box-sizing: border-box;
    margin:3px 3px;
    box-sizing: border-box;
    text-align: center;
}
@media only screen and (max-width:600px) {
    .order-review-container{
       grid-template-columns: repeat(1, 1fr);
       grid-gap: 10px;
       
    }
    #items-container{
        margin: 0px;
    }
    #product-heading{
        /* background-color: black; */
    }
    
    #cart-container{
        margin-top: 0;
        margin-bottom: 100px;
    }
}