.header-container{
   
}
.nav-link{
    color: white;
}
.nav-cart i{
    font-size: 0.85em;

}
.login-btn{
    padding: 8px 30px;
    border-radius: 5px;
    background-color:#1C2B35;
    border:1px solid goldenrod;
    color: white;
}

.logged-in-user{
    /* height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fff; */
    
}
#user-photo{
    width: 100%;
    border-radius: 50%;
}
.bg-regular{
    background-color: #1C2B35;
}