

.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 90px;
}

/* .logo{
    
} */

.nav-bar ul{ 
    display: flex;
}
.nav-bar ul li {
    list-style: none;
}
.nav-bar ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}
.bars{
    display: none;
}
@media only screen and (max-width: 600px) {
    .nav-bar ul{
        display: none;
    }
    .header{
        
        padding: 0 20px;
    }
    .bars{
        display:block;
        color: white;
        font-size: 20px;
    }
}