.login{
    text-align: center;
    margin-top: 50px;

}
.login-credentials{
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    height: auto    ;
    width: 33vw;
    border: none;
    background-color: #FFE0B2;
}
.login-credentials #email, #password, button{
    width: 100%;
    border: none;
    margin: 10px 0;
    box-sizing: border-box;
    padding: 13px 20px;
    font-size: 15px;
}
.login-credentials button{
    background-color: goldenrod;
    font-weight: bold;
    font-size: 18px;
}
#forgot-pass{
    margin-top: 40px 0px;
    color: #FF9900;
}
hr{
    margin: 40px 0px;
    /* background-color: #FF9900; */
}
#new-ac{
    background-color:#FF9900;

}
.sign-in-btn-container{
    width: 33vw;
    margin: 0 auto;
    padding: 30px 30px;
}
.sign-in-btn-container button{
    border: 1px solid #FF9900;
    background-color: white;
    border-radius: 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#google-logo{
    width: 9%;
    position: absolute;
    left: 5px;
}