.login-container{
    text-align: center;
    margin-top: 50px;
    width: 100vw;
   
    
}
.login-credentials{
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 20px;
    height:auto;
    width: 33vw;
    border: none;
    background-color:white;
    position: relative;
    border: 1px solid #FF9900;
}
.login-credentials #email, #password, button{
    width: 100%;
    border: 1px solid #FF9900;
    margin: 30px 0;
    box-sizing: border-box;
    padding: 13px 20px;
    font-size: 15px;
}
.login-credentials button{
    background-color:  rgba(255, 153, 0, 0.3);;
    font-weight: bold;
    font-size: 18px;
    border: none;
}
.lebel{
    position: absolute;
    left: 20px;

    
}
.sign-in-btn-container{
    padding: 0 20px;
   
}
.sign-in-btn-container button{
    border: 1px solid #FF9900;
    background-color: white;
    border-radius: 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#google-logo{
    width: 9%;
    position: absolute;
    left: 5px;
}
@media only screen and (max-width:600px) {
    .login-container{
        margin-top: 0;
    }
    .login-credentials{
        width: 100%;
        margin-top: 0;
        border: none;
    }
    .sign-in-btn-container{
        width: 100%;
        margin-bottom: 100px;
    }
    #google-logo{
        width: 12%;
    }
}